---
import Layout from '../layouts/Layout.astro';
import Navigation from "../components/Navigation.astro";
---

<Layout>
    <Navigation />
    <ul>
        <li><a href="/posts/post-1">post1</a></li>
    </ul>
</Layout>
