---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro'

const pageTitle = "Janghanul";
---

<Layout>
	<Navigation />
	<p>배포하고 싶어요</p>
	<h1>{pageTitle}</h1>
</Layout>
