---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro'

const pageTitle = "Janghanul";
---

<Layout>
	<Navigation />

	<h1>{pageTitle}</h1>
</Layout>
